body {font-family: Arial, Helvetica, sans-serif;}
body {
    background-image: url("img/background.png");
    background-color: #cccccc;
    color: #cccccc;
   }

label{
    width: auto;
    padding: 10px 18px;
    background-color: #010b0e;
}
input[type=text], input[type=password] {
  width: 200px;
  padding: 12px 20px;

  display: flex;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: left;
  margin: 12px 0 6px 0;
}

img.avatar {
    
  width: 60px;
  border-radius: 20%;
}

.container {
  padding: 10px;
}

span.psw {
  float: left;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 40px;
  }
}